{% extends 'layout.html.twig' %}

{% block styles %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block content %}
<h1>Проверка задач</h1>

<p>Здесь вы можете проверить решение задачи на PHP. Для 
этого выберите интересующую вас задачу из списка:</p>

<ul>
    {% for problem in gProblems %}
        <li><a href="{{ gUrlGenerator.getViewProblemUrl(problem) }}">{{ problem.getName() }}</a></li>
    {% endfor %}
</ul>

{% if gProblemsWithoutTester %}
    <h4>Пока не работающие задачи</h4>

    <ul>
    {% for problem in gProblemsWithoutTester %}
        <li><a href="{{ gUrlGenerator.getViewProblemUrl(problem) }}">{{ problem.getName() }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
